  name: Integration Test Workflow

  on:
    pull_request:
      branches:
        - main

  jobs:
    connect-mysql:
      runs-on: ubuntu-latest

      env:
        DB_HOST: ${{ secrets.MYSQL_SERVER_URL }}
        DB_USER: ${{ secrets.MYSQL_USERNAME }}
        DB_PASSWORD: ${{ secrets.MYSQL_PASSWORD }}
        DB_NAME: ${{ secrets.MYSQL_DATABASE }}
        DB_PORT: 3306

      steps:
        - name: Checkout code
          uses: actions/checkout@v2

        # - name: Set up MySQL client
        #   uses: shogo82148/actions-setup-mysql@v1
        #   with:
        #     mysql-version: "8.0"
        
        - name: Set up MySQL and create database
          run: |
            export MYSQL_USERNAME="${{ secrets.MYSQL_USERNAME }}"
            export MYSQL_SERVER_URL="${{ secrets.MYSQL_SERVER_URL }}"
            export MYSQL_PASSWORD="${{ secrets.MYSQL_PASSWORD }}"
            export MYSQL_DATABASE="${{ secrets.MYSQL_DATABASE }}"
            chmod +x ./packer/install-dependencies.sh
            ./packer/install-dependencies.sh

        # - name: Install dependencies
        #   run: npm install

        - name: Connect to MySQL
          run: |
            mysql -h ${{ secrets.MYSQL_SERVER_URL }} -u ${{ secrets.MYSQL_USERNAME }} -p"${{ secrets.MYSQL_PASSWORD }}" -e "SELECT VERSION();"
          env:
            MYSQL_SERVER_URL: ${{ secrets.MYSQL_SERVER_URL }}
            MYSQL_USERNAME: ${{ secrets.MYSQL_USERNAME }}
            MYSQL_PASSWORD: ${{ secrets.MYSQL_PASSWORD }}
        
        - name: Test Connection
          run: |
            npm test
            if [ $? -eq 0 ]; then
              echo "Database Connection Successful"
            else
              echo "Database Connection Failed"
              exit 1
            fi
        - name: Stop MySQL Server Connection
          run: |
            mysqladmin -u ${{ secrets.MYSQL_USERNAME }} -p"${{ secrets.MYSQL_PASSWORD }}" shutdown